<ol>
  <% posts.each do |post| %>
    <li class='row'>
      <%= post.body %>
      <br />
      <%= render partial: post, locals: { post_id: post.id, topic_id: @topic.id } %>
      <br />
      <%= render partial: 'posts' , locals: { posts: post.replies } %>
    </li>
  <% end %>
</ol>
