<h1> Topic </h1>

<%= react_component 'Topic' %>
<hr />
<%= render partial: @topic, locals: { topic_id: @topic.id } %>
<hr />
<div class='row'
  <%= render partial: 'posts', locals: { posts: @topic.posts } %>
</div>
