<h1> Topic </h1>

<h2><%= @topic.title %></h2>
<p><%= @topic.body %></p>
<hr />
<%= render partial: @topic, locals: { topic_id: @topic.id } %>
<hr />
<%= render partial: 'posts', locals: { posts: @topic.posts } %>
